.loader-round-circle-self {
  width: 1em;
  height: 1em;
  font-size: 10px;
  border-radius: 50%;
  -webkit-animation: loader-round-circle-self 1.3s infinite linear;
  animation: loader-round-circle-self 1.3s infinite linear;
}

@-webkit-keyframes loader-round-circle-self {
  0%, 100% {
    box-shadow: 0 -3em 0 .2em white, 2em -2em 0 0 white, 3em 0 0 -0.5em white, 2em 2em 0 -0.5em white, 0 3em 0 -0.5em white, -2em 2em 0 -0.5em white, -3em 0 0 -0.5em white, -2em -2em 0 0 white;
  }

  12.5% {
    box-shadow: 0 -3em 0 0 white, 2em -2em 0 .2em white, 3em 0 0 0 white, 2em 2em 0 -0.5em white, 0 3em 0 -0.5em white, -2em 2em 0 -0.5em white, -3em 0 0 -0.5em white, -2em -2em 0 -0.5em white;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em white, 2em -2em 0 0 white, 3em 0 0 .2em white, 2em 2em 0 0 white, 0 3em 0 -0.5em white, -2em 2em 0 -0.5em white, -3em 0 0 -0.5em white, -2em -2em 0 -0.5em white;
  }

  37.5% {
    box-shadow: 0 -3em 0 -0.5em white, 2em -2em 0 -0.5em white, 3em 0 0 0 white, 2em 2em 0 .2em white, 0 3em 0 0 white, -2em 2em 0 -0.5em white, -3em 0 0 -0.5em white, -2em -2em 0 -0.5em white;
  }

  50% {
    box-shadow: 0 -3em 0 -0.5em white, 2em -2em 0 -0.5em white, 3em 0 0 -0.5em white, 2em 2em 0 0 white, 0 3em 0 .2em white, -2em 2em 0 0 white, -3em 0 0 -0.5em white, -2em -2em 0 -0.5em white;
  }

  62.5% {
    box-shadow: 0 -3em 0 -0.5em white, 2em -2em 0 -0.5em white, 3em 0 0 -0.5em white, 2em 2em 0 -0.5em white, 0 3em 0 0 white, -2em 2em 0 .2em white, -3em 0 0 0 white, -2em -2em 0 -0.5em white;
  }

  75% {
    box-shadow: 0 -3em 0 -0.5em white, 2em -2em 0 -0.5em white, 3em 0 0 -0.5em white, 2em 2em 0 -0.5em white, 0 3em 0 -0.5em white, -2em 2em 0 0 white, -3em 0 0 .2em white, -2em -2em 0 0 white;
  }

  87.5% {
    box-shadow: 0 -3em 0 0 white, 2em -2em 0 -0.5em white, 3em 0 0 -0.5em white, 2em 2em 0 -0.5em white, 0 3em 0 -0.5em white, -2em 2em 0 0 white, -3em 0 0 0 white, -2em -2em 0 .2em white;
  }
}

@keyframes loader-round-circle-self {
  0%, 100% {
    box-shadow: 0 -3em 0 .2em white, 2em -2em 0 0 white, 3em 0 0 -0.5em white, 2em 2em 0 -0.5em white, 0 3em 0 -0.5em white, -2em 2em 0 -0.5em white, -3em 0 0 -0.5em white, -2em -2em 0 0 white;
  }

  12.5% {
    box-shadow: 0 -3em 0 0 white, 2em -2em 0 .2em white, 3em 0 0 0 white, 2em 2em 0 -0.5em white, 0 3em 0 -0.5em white, -2em 2em 0 -0.5em white, -3em 0 0 -0.5em white, -2em -2em 0 -0.5em white;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em white, 2em -2em 0 0 white, 3em 0 0 .2em white, 2em 2em 0 0 white, 0 3em 0 -0.5em white, -2em 2em 0 -0.5em white, -3em 0 0 -0.5em white, -2em -2em 0 -0.5em white;
  }

  37.5% {
    box-shadow: 0 -3em 0 -0.5em white, 2em -2em 0 -0.5em white, 3em 0 0 0 white, 2em 2em 0 .2em white, 0 3em 0 0 white, -2em 2em 0 -0.5em white, -3em 0 0 -0.5em white, -2em -2em 0 -0.5em white;
  }

  50% {
    box-shadow: 0 -3em 0 -0.5em white, 2em -2em 0 -0.5em white, 3em 0 0 -0.5em white, 2em 2em 0 0 white, 0 3em 0 .2em white, -2em 2em 0 0 white, -3em 0 0 -0.5em white, -2em -2em 0 -0.5em white;
  }

  62.5% {
    box-shadow: 0 -3em 0 -0.5em white, 2em -2em 0 -0.5em white, 3em 0 0 -0.5em white, 2em 2em 0 -0.5em white, 0 3em 0 0 white, -2em 2em 0 .2em white, -3em 0 0 0 white, -2em -2em 0 -0.5em white;
  }

  75% {
    box-shadow: 0 -3em 0 -0.5em white, 2em -2em 0 -0.5em white, 3em 0 0 -0.5em white, 2em 2em 0 -0.5em white, 0 3em 0 -0.5em white, -2em 2em 0 0 white, -3em 0 0 .2em white, -2em -2em 0 0 white;
  }

  87.5% {
    box-shadow: 0 -3em 0 0 white, 2em -2em 0 -0.5em white, 3em 0 0 -0.5em white, 2em 2em 0 -0.5em white, 0 3em 0 -0.5em white, -2em 2em 0 0 white, -3em 0 0 0 white, -2em -2em 0 .2em white;
  }
}



